@media screen and (max-width: 321px) {
  body {
    font-size: 85%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 80%;
  }
  .show-form {
    display: block;
  }
  .show-form button {
    display: block;
    margin-top: 12px;
  }
  .show-form input {
    margin: 12px 0;
  }
  .show-form label {
    margin-left: 0;
  }
  .box-telefone input {
    width: 126px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 85%;
  }
}
